*{box-sizing: border-box;
}
/* You can probably get away with just making the middle section the wrapper */
body{font-size: 28px;
        line-height: 32px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        z-index: 1;
        padding-left: 2.5in;
        padding-right: 2.5in;
        background-image: url("../images/hypnotize.png");
}
#head1{background: rgb(43, 190, 176);
        height: 100px;
        color: white;
        padding-top: .35in;
        padding-right: .15in;
        padding-left: .15in;
        top: 0;
        font-size: 36px;
        position: absolute;
        margin: 0 auto;
        margin-left: .5in;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
#links{text-align: right;
        padding-right: .75in;
        padding-top: .25in;
        background: #F5F5F5;
        color: rgb(175, 165, 165);
        height: 100px;
        font-size: 20px;
        margin-bottom: .15in;
        word-spacing: 5ch;
        border-color: gray;
}
.wrapper{word-wrap: break-word;
        font-size: 14px;
        height: 515px;
        border: 1px solid rgb(175, 165, 165);
        background: white;
        z-index: 1;
        width: 100%;
        margin: 0 auto;
}
#head2{margin-top: 15px;
        margin-bottom: 18px;
        font-size: 32px;
        padding-left: 75px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(43, 190, 176);
        border-bottom-style: dashed;
        border-bottom-color: gray;
}
/* for about */
#about_image{float:left;
            padding-left: .25in;
            padding-top: .11in;
            padding-right: .15in;
}
.about_text{padding-left: .25in;
            padding-right: .25in;
            margin: 0;
}
.footer{margin-bottom: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25px;
        position: fixed;
        color: white;
        background-color: gray;
        text-align: center;
        padding-bottom: 50px;
        font-size: 18px;
}
a:link{color: black;
}
a:visited{color: rgb(43, 190, 176);
} 
a:hover{color: rgb(175, 165, 165)}
/* for portfolio */
.Portfolio_images{padding-left: 175px;
                        padding-right: 175px;
}
img:nth-child(even){float: right;
}
img:nth-child(odd){float: left;}
/* .top_images{float: left;
}
.bottom_images{float: left;
} */
/* for contact */
.contact_form{padding-left:100px;
                padding-right: 680px;
}
#name{width: 600px;
}
#email{width: 600px;
}
#message{width: 600px;
         height: 200px;
}
/* #submit{background-color: rgb(43, 190, 176);
        margin-top: 25px;
        text-align: center;
        color: white;
} */
#submit{background-color: rgb(43, 190, 176);
        height: 50px;
        width: 150px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: white;

}